config gsthttpd gsthttpd
	option docroot '/usr/share/gst-httpd/www'
	option address '0.0.0.0'
	option service '8080'

config stream 'hwjpeg_1'
	option desc '640x480@30fps v4l2src image/jpeg'
	option pipeline 'v4l2src ! image/jpeg,width=640,height=480,framerate=30/1'

config stream 'hwjpeg_2'
	option desc '320x240@30fps v4l2src image/jpeg'
	option pipeline 'v4l2src ! image/jpeg,width=320,height=240,framerate=30/1'

config stream 'swjpeg_1'
	option desc '640x480@30fps v4l2src image/raw'
	option pipeline 'v4l2src ! video/x-raw-yuv,width=640,height=480,framerate=30/1 ! jpegenc'

config stream 'swjpeg_2'
	option desc '320x240@30fps v4l2src image/raw'
	option pipeline 'v4l2src ! video/x-raw-yuv,width=320,height=240,framerate=30/1 ! jpegenc'

config stream 'swjpeg_3'
	option desc '320x240@10fps v4l2src image/raw'
	option pipeline 'v4l2src ! video/x-raw-yuv,width=320,height=240,framerate=10/1 ! jpegenc'

config stream 'swjpeg_4'
	option desc '160x120@30fps v4l2src image/raw'
	option pipeline 'v4l2src ! video/x-raw-yuv,width=160,height=120,framerate=30/1 ! jpegenc'

config stream 'sw1fps_640x480'
	option desc '1fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=640,height=480,framerate=1/1 ! jpegenc'
	
config stream 'sw1fps_320x240'
	option desc '1fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=320,height=240,framerate=1/1 ! jpegenc'
	
config stream 'sw5fps_640x480'
	option desc '5fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=640,height=480,framerate=5/1 ! jpegenc'

config stream 'sw5fps_320x240'
	option desc '5fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=320,height=240,framerate=5/1 ! jpegenc'

config stream 'sw30fps_640x480'
	option desc '30fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=640,height=480,framerate=30/1 ! jpegenc'

config stream 'sw30fps_320x240'
	option desc '30fps software encode of colorbar pattern'
	option pipeline 'videotestsrc ! video/x-raw-yuv,width=320,height=240,framerate=30/1 ! jpegenc'
